/* BALANCE_COMPONENT */

.displayItems {
  display: flex;
  align-items: center;
}

.styleText {
  font-family: "Roboto";
  font-style: normal;
}

.containerWithOutBtnBack {
  composes: displayItems;
  justify-content: space-between;
  margin-right: 400px;
  height: 44px;

}
@media screen and (min-width: 768px)and (max-width:1023px) {
  .containerWithOutBtnBack {
    margin-right: 230px;

  }
}

.containerWithBtnBack{
  composes: displayItems;
    margin-right: 330px;
    width: 334px;
    height: 44px;
    /* left: 473px;
    top: 96px; */

}
@media screen and (min-width: 768px )and (max-width:1023px) {
  .containerWithBtnBack {
    margin-right: 0;
  justify-content: center;
    /* composes:btn; */
  }
}
@media screen and (max-width: 767px) {
  .containerWithBtnBack {
    margin-right: 0;
  }
}
.inpuWrap{
  display: flex;
}

.btn {
  composes: displayItems;
  composes: styleText;
  justify-content: center;
  box-sizing: border-box;
  width: 125px;
  height: 44px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* display: flex;
  align-items: center; */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;

  color: rgba(82, 85, 95, 0.7);
  background: #f2f5fc;

  border: 2px solid #ffffff;
  border-radius: 16px;
}
@media screen and (max-width: 767px) {
  .btn {
    composes:btn;
    position: absolute;
    top: 190px;
    right: 41px;
    border-radius: 0px 14px 14px 0px;
 
  }
}

@media screen and (min-width: 768px) {
  .btnWithBtnBack {
    opacity: 0;
    /* composes:btn; */
  }
}
@media screen and (max-width: 767px) {
  .btnWithBtnBack {
    opacity: 0;
    /* composes:btn; */
    
  }
}



.text {
  composes: styleText;
  composes: displayItems;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* display: flex;
  align-items: center; */
  text-align: center;
  letter-spacing: 0.02em;

  color: rgba(82, 85, 95, 0.7);
}
@media screen and (max-width: 767px) {
  .text {
    composes: styleText;
    composes: displayItems;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* display: flex;
    align-items: center; */
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(82, 85, 95, 0.7);
    margin-bottom:8px;
    position: absolute;
    left: 133px;
    top: 170px;
  }
}



.balanceContainer {
  composes: displayItems;
  composes: styleText;
  justify-content: center;
  width: 125px;
  height: 44px;


  border: 2px solid #ffffff;
  border-radius: 16px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
  background: #f2f5fc;
}

@media screen and (max-width: 767px) {
  .balanceContainer {
    composes: styleText;
    composes:balanceContainer;
      position: absolute;
      top: 190px;
      left: 96px;
      border-radius: 14px 14px 14px 14px;

  }
}
@media screen and (max-width: 767px) {
  .balanceContainerWithOutBtn {
    composes: balanceContainer;
    position: absolute;
    top: 190px;
    left: 31px;
    border-radius: 14px 0px 0px 14px;

  }
}



