.container {
  background-color: transparent;
  margin: 0 auto;
  box-sizing: border-box;
  /* outline: 1px solid teal; */
  max-width: 1098px;
}

.inputDate {
  width: 104px;
  height: 44px;
  outline: none;
  border: none;
}
.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
  padding-top: 4px;
  height: 44px;
}
.btn,
.btnAccent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  list-style: 1.17;
  width: 138px;
  height: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fafbfd;
  border: 0px;
  color: #000000;
  /* outline: 1px solid rgb(13, 64, 64); */
}

.btnAccent {
  color: #ff751d;
  background-color: #fefefe;
}

.contentContainer {
  position: relative;
  box-sizing: border-box;
  /* max-width: 1098px; */
  height: 579px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;
  padding: 32px 32px 61px;
  /* outline: 1px solid rgb(212, 188, 30); */
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  /* height: 44px; */
  overflow: hidden;
  margin-bottom: 60px;
  /* outline: 1px solid rgb(106, 19, 220); */
}

@media screen and (max-width: 1280px) {
  .formContainer {
    justify-content: center;
    margin-bottom: 28px;
  }
}
.form {
  display: inline-flex;
  height: 100%;
}
@media screen and (max-width: 1280px) {
  .form {
    margin-bottom: 32px;
  }
}

.inputDescription {
  /* display: inline-flex; */
  font-size: 12px;
  color: #52555f;
  font-weight: 400;
  display: block;
  width: 290px;
  height: 44px;
  border: 2px solid;
  border-color: #f5f6fb;
  background-color: #fff;
  border-top-left-radius: 20px;
  padding: 0 19px 0 19px;
  outline: none;
}

@media screen and (max-width: 1280px) {
  .inputDescription {
    max-width: 184px;
  }
}
.inputDescription::placeholder {
  color: #c7ccdc;
  font-size: 12px;
  font-weight: 400;
}

.inputCategory {
  color: #c7ccdc;
  font-size: 12px;
  font-weight: 400;
  width: 169px;
  height: 44px;
  padding-left: 19px;
  padding-right: 19px;
  border: 2px solid;
  border-right: 0px;
  border-left: 0px;
  border-color: #f5f6fb;
  background-color: #fff;
}
.listCategory {
  position: absolute;
  top: 80px;
  width: 182px;
  background-color: #fff;
  z-index: 10;
}

.itemCategory {
  font-size: 12px;
  color: #c7ccdc;
  font-weight: 400;
  cursor: pointer;
  line-height: 2;
  padding-left: 20px;
  padding-right: 20px;
}

.itemCategory:hover {
  color: #52555f;
  background-color: #f5f6fb;
}

.inputSumm {
  font-size: 12px;
  color: #52555f;
  font-weight: 400;
  width: 119px;
  border: 2px solid;
  border-color: #f5f6fb;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0;
  text-align: center;
  outline: none;
  margin-right: 32px;
}
.inputSumm::placeholder {
  color: #c7ccdc;
  font-size: 12px;
  font-weight: 400;
}

.buttonContainer {
  display: inline-flex;
  width: 288px;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .buttonContainer {
    margin-bottom: 32px;
    display: flex;
    /* margin-top: 32px; */
    width: 265px;
  }
}

.tableContainer {
  display: flex;
  /* outline: 1px solid rgb(25, 218, 28); */
}

@media screen and (max-width: 1280px) {
  .tableContainer {
    flex-wrap: wrap;
  }
}
.prods {
  width: 746px;
  height: 380px;
  /* outline: 1px solid rgb(165, 60, 221); */
}

@media screen and (max-width: 1280px) {
  .prods {
    margin-bottom: 90px;
  }
}

.sumary {
  width: 213px;
  height: 280px;
  margin-left: 75px;
  /* outline: 1px solid rgb(206, 56, 103); */
}
@media screen and (max-width: 1280px) {
  .sumary {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .sumary {
    display: none;
  }
}

/* @media screen and (min-width: 400px) {
  .box {
    padding: 40px 60px;
  }
} */

/* @media screen and (min-width: 768px) {
  .prods {
    width: 624px;
  }
  .sumary {
    width: 230px;
    height: 280px;
  }
} */
