/* .container {
  background-color: rgb(254, 191, 191);
  box-sizing: border-box;
} */

.inputDate {
  width: 104px;
  height: 44px;
  outline: none;
  border: none;
}

.btn,
.btnAccent {
  font-size: 12px;
  font-weight: 700;
  list-style: 1.17;
  width: 138px;
  height: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fafbfd;
  border: none;
}

.btnAccent {
  color: #ff751d;
  background-color: #fefefe;
}

.contentContainer {
  position: relative;
  box-sizing: border-box;
  width: 1098px;
  height: 579px;
  border-radius: 30px;
  background-color: #fff;
  border-top-left-radius: 0;
  padding: 32px 32px 61px;
}

.formContainer {
  /* display: flex; */
  box-sizing: border-box;
  /* height: 44px; */
  overflow: hidden;
  margin-bottom: 60px;
}
.form {
  display: flex;
  height: 100%;
}
.inputDescription {
  font-size: 12px;
  color: #52555f;
  font-weight: 400;
  display: block;
  min-width: 290px;
  height: 44px;
  border: 2px solid;
  border-color: #f5f6fb;
  background-color: #fff;
  border-top-left-radius: 20px;
  padding: 0 19px 0 19px;
  outline: none;
}

.inputDescription::placeholder {
  color: #c7ccdc;
  font-size: 12px;
  font-weight: 400;
}

.inputCategory {
  color: #c7ccdc;
  font-size: 12px;
  font-weight: 400;
  width: 169px;
  height: 44px;
  padding-left: 19px;
  padding-right: 19px;
  border: 2px solid;
  border-right: 0px;
  border-left: 0px;
  border-color: #f5f6fb;
  background-color: #fff;
}
.listCategory {
  position: absolute;
  top: 80px;
  width: 190px;
  background-color: #fff;
}

.itemCategory {
  font-size: 12px;
  color: #c7ccdc;
  font-weight: 400;
  cursor: pointer;
  line-height: 2;
}

.itemCategory:hover {
  color: #52555f;
}

.inputSumm {
  font-size: 12px;
  color: #52555f;
  font-weight: 400;
  width: 119px;
  border: 2px solid;
  border-color: #f5f6fb;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0;
  text-align: center;
  outline: none;
  margin-right: 32px;
}
.inputSumm::placeholder {
  color: #c7ccdc;
  font-size: 12px;
  font-weight: 400;
}

.tableContainer {
  display: flex;
}
.prods {
  width: 746px;
  height: 380px;
  /* outline: 1px solid teal; */
}

.sumary {
  width: 213px;
  height: 280px;
  /* outline: 1px solid teal; */
  margin-left: 75px;
}
