.rectangle {
  /* ширина 100vw??
     висота 100vh?? */
  width: 1280px;
  height: 583px;
  background-image: url(../../images/cabagge/rectangle.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}
.cabbage {
  width: 1280px;
  height: 232px;
  position: relative;
  left: 10px;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../images/cabagge/kapusta_main.png);
}
.title {
  width: 377px;
  height: 139px;
  position: absolute;
  top: 308px;
  left: 230px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../images/cabagge/title.png);
}
.twoCabbage {
  width: 183px;
  height: 142px;
  position: absolute;
  bottom: 0;
  left: 230px;
  background-image: url(../../images/cabagge/kapusta_small.png);
}
